body {
    background-color: #333;
    color: #fff;
}

.navbar {
    border-bottom: #4834d4 3px solid;
}

/* Home section style start */

#home-section {
    background: url('../img/home.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

#home-section .dark-overlay {
    width: 100%;
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#home-section .home-inner {
    padding-top: 140px;
}

#home-section .card-form {
    opacity: 0.8;
}

#home-section .fas, #create-section .fas {
    color: #0652DD;
    border-radius: 5px;
    background: #fff;
    padding: 5px;
}

/* Home section style end */

/* Explore section style start */

#explore-section .fas, #share-section .fas {
    background: #333;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}

/* Explore section style end */

